.mobile_album_details {
  width: 100%;

  .cover_album {
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;

    .license {
      position: absolute;
      width: 100%;
      height: 46px;
      top: 50%;
      margin-top: -23px;
      background-color: #282C47;
      box-shadow: 0 3.86335px 3.86335px rgba(0, 0, 0, 0.25);
      padding: 2px 20px;

      > span {
        display: flex;
        justify-content: center;
        font-size: 14px;
        color: #f1f1f1;

        > a {
          color: #20C4F5;
          margin-left: 5px;
        }
      }
    }

    .add_like, .remove_like {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #1A1F34;
      background-position: center;
    }
    .add_like {
      @include heartTransparent();
    }
    .remove_like {
      @include heartFilled()
    }

    .album_play, .album_pause {
      position: absolute;
      left: 20px;
      bottom: 20px;
      width: 79.3px;
      height: 79.3px;
      border-radius: 50%;
      background-position: center;
      background-size: 100%;
    }
    .album_play {
      @include albumPlaying;
    }
    .album_pause {
      @include albumPause;
    }


    > img {
      width: 100%;
      border-radius: 15px;
      overflow: hidden;
    }
  }

  .mobile_track_list {
    margin-bottom: 16px;
    border-bottom: 1px solid #282C47;
    padding-bottom: 6px;
    position: relative;

    .item_track {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 63px;
      padding: 0 14px;

      > div {
        display: flex;
        align-items: center;
        height: 100%;

        &.main_info {
          flex-basis: 80%;
          max-width: 80%;
        }

        &.other_info {
          width: 35px;
          justify-content: flex-end;
          flex-shrink: 0;
        }

        .index {
          display: flex;
          align-items: center;
          width: 40px;
          height: 100%;
          padding-left: 6px;
          flex-shrink: 0;
        }

        .track_descript {
          display: flex;
          flex-direction: column;
          justify-content: center;
          max-width: 90%;

          .name {
            display: block;
            font-size: 15px;
            font-weight: 300;
            color: #fff;
            @include truncateString;
          }

          .artist {
            font-size: 14px;
            font-weight: 300;
            color: #7481A6;
          }
        }
        .more {
          color: #5F6986;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          > span {
            font-size: 32px;
          }
        }
      }

      &.playing {
        background-color: #101929;
        .index {
          font-size: 0;
          @include trackPlaying();
          background-position: 0 center;
        }
      }
    }
    .v-navigation-drawer {
      top: 20% !important;
      right: 0;
    }
  }

  .details_album {
    margin-bottom: 24px;
    .album_name {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      color: #f1f1f1;
      .tootle_album_description {
        width: 30px;
        height: 30px;
        > span {
          color: #20C4F5;
        }
        &.expand {
          > span {
            transform: rotate(-180deg);
          }
        }
      }
    }

    .album_artist {
      font-size: 18px;
      font-weight: 300;
      color: #dcdcdc;
      margin-bottom: 3px;
      > a {
        font-size: 18px;
        color: #8591B1;
        > span {
          color: #dcdcdc;
          font-weight: 300;
          font-size: 18px;
        }
      }
    }

    .album_publish {
      font-size: 14px;
      color: #F1F1F1;
      margin-bottom: 8px;
    }

    .album_get {
      margin-bottom: 32px;
      display: flex;
      justify-content: space-between;

      > button {
        flex-basis: 50%;

        &:first-child {
          margin-right: 7px;
        }

        &:last-child {
          margin-left: 7px;
        }
      }
    }

    .album_description {
      font-size: 15px;
      font-weight: 300;
      line-height: 170%;
      color: #dcdcdc;

      a {
        color: #20C4F5;
      }

      strong {
        color: #dcdcdc;
      }
    }
  }
}
