// used registration, change_password

.password_complexity {
  margin-top: 3px;
  .label {
    color: #dbdbdb;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }
  .wrap_must_symbols {
    display: flex;
    margin-top: 5px;
    height: 21px;
    > div {
      display: flex;
      align-items: center;
      padding-left: 36px;
      @include roundCheckbox('c4c4c4');
      font-size: 14px;
      color: #dbdbdb;
      margin-right: 12px;
      flex-shrink: 0;
      &.active {
        @include roundCheckbox('20F54F');
      }
      @include max610 {
        padding-left: 32px;
      }
      @include max479 {
        padding-left: 30px;
      }
    }
  }
}
