.page-not-found {
  background-color: #031020;
  height: 100vh;
  background: url(#{$imagePath}404.svg) no-repeat center 125px,
  url(#{$imagePath}crooked_border.svg) center bottom no-repeat;
  >.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 555px;
    .wrap {
      position: relative;
      top: 70px;
      display: flex;
      justify-content: space-between;
      width: 335px;
      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 40px;
        border-radius: 120px;
        color: #dcdcdc;
        font-size: 17px;
        border: 1px solid #5F6986;
        transition: 0.25s;
        &:hover {
          background: #5F6986;
        }
        &.home {

        }
        &.report {

        }

      }
    }
  }
  footer {
    display: none;
  }
}




