$themes: (dark: (
        albumBackground: transparent,
        albumTitleBackgroundColor: rgba(74, 74, 74, .5),
        albumDate: #fff,
        albumDescript: #dcdcdc,
        trackColor: #fff,
        trackSelectedGradientFrom: rgba(0, 0, 0, 0.25) 62.47%,
        trackSelectedGradientTo: rgba(100, 137, 142, 0) 100%,
        trackNTHFrom: rgba(106, 106, 106, 0.25) 62.47%,
        trackNTHTo:rgba(100, 137, 142, 0) 100%,
        trackHover: rgba(133, 133, 133, .25),
        pauseBtnBackground: #fff,
        pauseBtnColorSvg: 'ffffff',
),
        light: (
                albumBackground: #fff,
                albumTitleBackgroundColor: #f1f1f1,
                albumDate: #333,
                albumDescript: #000,
                trackColor: #7d7d7d,
                trackSelectedGradientFrom: #F2F2F2 69.43%,
                trackSelectedGradientTo: rgba(244, 245, 245, 0) 94.72%,
                trackNTHFrom: #F2F2F2 69.43%,
                trackNTHTorgba: rgba(244, 245, 245, 0) 94.72%,
                trackHover: #f1f1f1,
                pauseBtnBackground: #7d7d7d,
                pauseBtnColorSvg: 'ffffff',
        ));


.album {
  position: relative;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;

  .descript_info.text {
    font-size: 14px;
    line-height: 170%;
    font-weight: 300;
    overflow: hidden;
    position: relative;

    @include themify($themes) {
      color: themed(albumDescript);
    }
    @include max999 {
      display: none;
    }

    p {
      line-height: 170%;
      display: inline;
    }

    .see_more {
      font-weight: 400;
    }

    strong {
      @include themify($themes) {
        color: themed(albumDescript);
      }
    }

    a {
      color: $blue;
    }
  }


  .download {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 30px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: rgba(#fff, .1);
    @include downloadAlbum('f1f1f1');
    background-position: center center;
    margin-right: 9px;
    transition: .2s;
    font-size: 0;
    color: #20C4F5;

    &:hover, &[aria-expanded="true"] {
      width: 90px;
      border-radius: 38px;
      font-size: 14px;
      background-image: none !important;
    }

  }

  .more {
    display: flex;
    align-items: center;
    font-size: 32px;
    @include buttonMore('5F6986');
    transition: 0.2s;
    &:hover {
      @include buttonMore('ffffff');
      background-color: rgba(#fff, .05);
    }
    &[aria-expanded="true"] {
      background-color: rgba(#fff, .05);
      @include buttonMore('ffffff');
    }
  }

  .album_background {
    @include themify($themes) {
      background-color: themed(albumBackground);
    }
    filter: blur(30px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    z-index: -1;

    &:after {
      @include pseudo;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(#333, .75);
    }
  }

  .album_content {
    position: relative;
    border-radius: 17px;
    overflow: hidden;
    display: flex;
    padding: 30px;
    .v-progress-circular {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -50px;
      margin-top: -50px;
    }

    .left_box {
      padding-right: 20px;

      .cover_album {
        width: 310px;
        height: 311px;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 15px;

        .license {
          position: absolute;
          left: 0;
          top: 40%;
          transform: translateY(-50%);
          background-color: #2E3548;
          color: #f1f1f1;
          padding: 5px;
          width: 100%;
          box-shadow: 0 3.86335px 3.86335px rgba(0, 0, 0, .25);

          > span {
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: 12px;
            line-height: 1.5;

            > a {
              color: $blue;
              margin-left: 5px;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        > img {
          //width: 100%;
          height: 100%;
        }
        &.no-img {
          background-color: #22293A;
        }
      }
      .wrap_rating {
        justify-content: center;
        width: 100%;
      }
    }


    // extend album
    .info_album {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include max999 {
        flex-basis: 70%;
      }

      .head_album {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .titles {
          display: flex;
          flex-direction: column;
          .date.mobile {
            display: none;
            @include max999 {
              display: flex;
              font-size: 14px;
              color: #f1f1f1;
              margin-bottom: 10px;
            }
          }

          .album_title {
            color: #fff;
            font-size: 20px;
            line-height: 27px;
            font-weight: 300;
            > button {
              font-size: 14px;
              color: #8591B1;
              &:hover {
                color: #20c4f5;
              }
            }
          }

          .album_artist {
            font-size: 18px;
            font-weight: 300;
            line-height: 150%;
            color: #8591B1;
              > span {
                color: #dcdcdc;
                font-weight: 300;
                font-size: 18px;
              }
              &:hover {
                color: #7481a6;
              }

            .is_this_you {
              font-size: 14px;
              color: rgba(#fff, .5);
            }
            &:hover {
              color: #20C4F5;
            }
          }

          .owner {
            .is-this-you-link {
              color: #DCDCDC;
              font-weight: normal;
              font-size: 14px;
              line-height: 150%;
              margin-left: 2px;

              &:hover {
                color: #20C4F5;
              }
            }
          }
        }

        .actions {
          display: flex;
          align-items: center;
          height: 34px;
          position: relative;
          .date {
            font-size: 12px;
            color: #f1f1f1;
            @include max999 {
              display: none;
            }
          }

          .like {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 0 5.5px 0 20px;
            background-color: rgba(196,196,196, .1);
            @include likeTransparent('ffffff');
            background-size: 18px;
            background-position: center;
            &.active {
              @include like(transparent, 'FF3F3F', 1);
              background-size: 28px;
              &:hover {
                @include like(transparent, 'EE7A7A', 1);
                animation: size .4s;
              }
            }
            @keyframes size {
              0% {
                transform: scale(1);
              }
              100% {
                transform: scale(1.3);
              }
              //0% {padding:10px 12px 8px;}
              //50% {padding:14px 16px 12px;margin-top:-4px;}
              //100% {padding:10px 12px 8px;}
            }
          }
          .more_btn {
            display: flex;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            @include buttonMore('dcdcdc', '1');
            background-position: center;
            background-size: 5px;
            &:hover {
              background-color: rgba(#fff, .05);
              @include buttonMore('ffffff');
            }
            &[aria-expanded="true"] {
              background-color: rgba(#fff, .05);
              @include buttonMore('ffffff');
            }
          }
        }
      }

      .buy_now {
        display: flex;
        align-items: center;
        color: #f1f1f1;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 15px;
        .download_album {
          width: 190px;
          font-size: 14px;
        }

        .buy_value {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 15px;
          min-width: 90px;
          height: inherit;
          margin-left: 12px;
          @include buyValue();
          background-position: left center;
          font-size: 18px;
        }
      }
      .wrap_rating {
        margin-bottom: 15px;
      }

      .tags_list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
        .new_tag {
          margin-left: 3px;
        }
        > span, a {
          display: flex;
          align-items: center;
          padding: 4px 16px 4px 16px;
          height: 26px;
          color: #fff;
          font-size: 12px;
          border-radius: 14px;
          background: rgba(196, 196, 196, .1);
          font-weight: 400;
          margin-right: 3px;
          margin-bottom: 5px;
          > input {
            color: #fff;
            margin-left: 3px;
            width: 20px;
            min-width: 20px;
            transition: 0.3s;
            &:focus {
              min-width: 70px;
            }
          }
          .btn_delete_tag {
            margin-left: 8px;
            width: 14px;
            height: 14px;
            @include btnDeleteTags();
            background-position: center 0;
          }
          &:hover {
            color: #20C4F5;
          }
        }
        > button {
          border-radius: 5px;
          color: #20C4F5;
          height: 26px;
          &.btn_add_tag {
            font-size: 12px;
            background-color: rgba(196, 196, 196, .1);
            border-radius: 14px;
            color: #fff;
            @include btnAddTag('ffffff');
            background-position: 9px center;
            padding-left: 30px;
            padding-right: 9px;
            &:hover {
              @include btnAddTag('20C4F5');
              color: #20C4F5;
            }
          }
          &.btn_edit_tags {
            font-size: 12px;
            width: 53px;
            background: rgba(196, 196, 196, .1);
            border-radius: 4px;
            color: #20C4F5;
            margin-left: 4px;
          }
        }
        &.edit_tags {
          > span, a {
            padding-right: 8px;
          }
        }
      }

      .album-playlist {
        border-top: 1px solid #4A4A4A;
        padding-top: 20px;
        margin-top: 20px;

        > div {
          overflow: hidden;
          position: relative;
        }

        &.short {
          transition: all .3s ease;
        }

        .item_row_track {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          //transition: 0.2s;
          border-radius: 20px;
          padding: 3px 5px 3px 0;
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid-column;
          min-height: 40px;
          margin-bottom: 3px;

          .track {
            display: flex;
            align-items: center;
            padding-left: 6px;
            @include themify($themes) {
              color: themed(trackColor);
            }

            .play {
              width: 30px;
              height: 30px;
              @include playerPlay($White);
              background-color: rgba(#ffffff, .1);
              background-position: 12px center;
              border-radius: 50%;
              border: none;
              transition: .2s;
              &:hover {
                background-color: rgba(#ffffff, .3);
              }
            }

            .pause {
              width: 30px;
              height: 30px;

              @include themify($themes) {
                @include playerPause(themed(pauseBtnColorSvg));
              }
              background-color: rgba(#9E9E9E, .2);
              border: 2px solid #dcdcdc;
              background-position: center center;
              background-size: 6px;
              border-radius: 50%;
            }

            .like {
              margin: 0 15px;
              @include like(transparent, '9E9E9E', '0.2');
              width: 30px;
              height: 30px;
              display: flex;
              &.active {
                @include like(transparent, 'E94E4E', '1');
              }
              &:hover {
                @include like(transparent, 'EE7A7A', '1');
              }
            }

            .add_to_playlist, .added_to_playlist {
              width: 30px;
              height: 26px;
              background-position: center 2px;
              border: none;
              background-color: transparent;
              margin-right: 20px;
            }

            .add_to_playlist {
              padding: 0 16px;
              @include addToPlaylist('7d7d7d');
              .head_ {


              }
            }

            .added_to_playlist {
              @include added_to_playlist('dcdcdc', 'dcdcdc');
            }

            > .track_name {
              display: block;
              color: #dcdcdc;
              font-size: 15px;
              width: 200px;
              padding-right: 15px;
              @include truncateString;

              > .bpm {
                color: #8a8a8a;
              }
            }
            .artist_name {
              display: block;
              color: #dcdcdc;
              font-size: 15px;
              width: 180px;
              padding-right: 15px;
              @include truncateString;
            }
            .duration {
              width: 85px;
            }
            .bpm {
              width: 85px;
            }
            .key {
              width: 80px;
            }
            .rating {
              width: 100px;
              @include rating('C4C4C4');
              background-position: 0 center;
              padding-left: 30px;
            }
          }

          .action_track {
            display: flex;
            align-items: center;
            position: relative;
            .download {
              position: absolute;
              right: 30px;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-color: rgba(#fff, .1);
              @include downloadAlbum('f1f1f1');
              background-position: center center;
              margin-right: 9px;
              transition: .2s;
              font-size: 0;
              color: #20C4F5;
              &:hover {
                width: 90px;
                border-radius: 38px;
                font-size: 14px;
                background-image: none;
              }

            }
            .more {
              width: 30px;
              height: 30px;
              border-radius: 50%;

              @include buttonMore('dcdcdc', '0.5');
              background-position: center center;
              &:hover {
                background-color: rgba(#fff, .1);
                @include buttonMore('ffffff');
              }
              &[aria-expanded="true"] {
                background-color: rgba(#fff, .1);
                @include buttonMore('ffffff');
              }
            }
            .basket {
              width: 52px;
              height: 30px;
              border: 1px solid #5F6986;
              border-radius: 15px;
              @include basket();
              background-position: center center;
              transition: .27s;
              .track_price {
                font-size: 15px;
                color: #20C4F5;
                display: flex;
                align-items: center;
                justify-content: center;
                height: inherit;
                opacity: 0;
              }
            }
          }

          &.selected {
            @include themify($themes) {
              background-color: themed(trackHover);
            }
            position: relative;
          }

          &:nth-child(2n+1) {
            margin-right: 40px;
          }

          // :hover item track-row
          &:hover {
            @include themify($themes) {
              background-color: themed(trackHover);
            }
            .track_name {
              color: #fff;
            }
            .artist {
              color: #fff;
            }

            .more {

            }
            .basket {
              background-image: none;
              border-color: #20C4F5;
              .track_price {
                opacity: 1;
              }
            }
          }
        }

        .playlist {
          overflow: auto;
        }
        .toogle_view_tracks {
          font-size: 16px;
          color: #20C4F5;
          margin-top: 10px;
          padding: 0 5px;
          border-radius: 15px;
        }
      }


      ////////////////////
      .title {
        width: 35%;
      }

      .artist {
        width: 35%;
      }

      .bpm {
        width: 7%;
      }

      .key {
        width: 23%;
      }

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $white;
        height: 40px;

        > div {
          font-size: 20px;
          font-weight: 500;
          color: $white;

          &.title {
            text-align: center;
          }
        }
      }

      .row {
        height: 70px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $white;
        background-color: $gray29;
        transition: 0.2s;
        cursor: pointer;

        .title {
          height: 100%;
          display: flex;
          align-items: center;

          .toogle_exend {
            width: 64px;
            height: 100%;
            border: none;
            @include arrow($Blue);
            background-position: center center;
            background-color: transparent;
          }

          > img {
            width: 69px;
          }

          .name {
            color: $white;
            font-weight: 500;
            font-size: 20px;
          }
        }

        .artist {
          color: $white;
          font-weight: 500;
          font-size: 17px;
        }

        .bpm {
          color: $white;
          font-weight: 500;
          font-size: 17px;
        }

        .key {
          display: flex;
          align-items: center;

          .name {
            color: $white;
            font-weight: 500;
            font-size: 17px;
          }

          .like {
          }

        }

        &:hover {
          background-color: $gray20;
          border: 1px solid $blue;
        }
      }


    }
  }
  .descript_info.mobile {
    display: none;
    @include max999 {
      display: block;
    }
  }

  &.short {
    overflow: visible;
    position: relative;
    z-index: auto;
    &.active {
      background-color: rgba(#5F6986, .2)
    }
    .download {
      right: 50px;
    }
  }

  &.extended {

    &:hover {
      .expand_album {
        &:after {
          @include arrowBack('20C4F5');
        }
      }

      .like {
        > span {
          //color: #20C4F5;
        }
      }

      .name, .info_, .date, .rating, {
        color: #20C4F5;
      }

      .download_track {
        > span {
          color: #20C4F5;
        }
      }
    }
  }

  &.inside_album {
    width: 100%;
    margin-bottom: 60px;
    @include max999 {
      margin-top: 0;
    }
    .album_content {
      padding: 30px 0 20px 0;
      @include max999 {
        padding: 20px 0 20px 0;
      }
      .head_album {
        .album_artist {
          font-weight: 400 !important;
        }
      }
      .left_box {
        .cover_album {
          @include max999 {
            margin-bottom: 0;
          }
        }
      }
    }
    .v-progress-circular {
      position: absolute;
      top: 20%;
      left: 50%;
      margin-left: -50px;
    }
  }
}
.short_album {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  border-radius: 10px;
  margin-top: 0;
  background-color: rgba(#5F6986, .1);

  .top_rating {
    display: flex;
    align-items: center;
    width: 50px;
    color: #282C47;
    font-weight: 900;
    font-size: 30px;
  }
  .description_info {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 16px;
  }
  .actions_albums {
    display: flex;
    align-items: center;
    .download {
      @include downloadAlbum('dcdcdc');
      background-position: center center;
      margin-right: 5.5px;
      background-color: rgba(#fff, .05);
    }
    .more {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      margin-right: 15px;
      background-position: center center;
      &[aria-expanded="true"] {
        background-color: rgba(#fff, .05);
        @include buttonMore('ffffff');
      }
    }
  }

  .cover_img {
    height: inherit;
    width: 55px;
    flex-shrink: 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    .play_album {
      display: none;
    }

    > img {
      overflow: hidden;
    }

    &.active {
      > img {
        display: none;
      }
      .play_album {
        display: flex;
      }
    }
  }
  .wrap_like_album {
    width: 83px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &.hidden_like_album {
      width: 0;
      padding: 16px;
    }

    .like {
      @include like(transparent, '5F6986', '0.5');
      background-size: 33px;
      background-position: center center;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      &:hover {
        @include like(transparent, 'EE7A7A', '1');
      }
      &.active {
        @include like(transparent, 'FF3F3F', '1');
        &:hover {
          @include like('181E33', 'EE7A7A', '0.8');
        }
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    flex-shrink: 0;
    height: inherit;

    > button {
      border: none;
      background-color: transparent;
      width: 30px;
      height: 24px;

      &.add_to_playlist {
        @include addToPlaylist('7d7d7d');

        &:hover {
          @include addToPlaylist('20c4f5');
        }
      }

      &.added_to_playlist {
        @include added_to_playlist('dcdcdc', 'dcdcdc'); //w30h24
      }
    }
  }

  .name {
    width: 260px;
    @include truncateString;
    padding-right: 15px;
    > a, span {
      color: #fff;
      font-size: 17px;
      padding: 5px 0;
      @include truncateString;
      flex-shrink: 0;
      font-weight: 300;

      &:hover {
        text-decoration: underline;
        color: #20C4F5;
      }
    }

  }

  .artist {
    width: 230px;
    flex-shrink: 0;
    @include truncateString;
    padding-right: 15px;

    > a {
      color: #fff;
      font-size: 16px;
      font-weight: 300;

      &:hover {
        text-decoration: underline;
        color: #20C4F5;
      }
    }
    span {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
    }
  }

  .released {
    color: #fff;
    font-size: 14px;
    width: 170px;
    font-weight: 300;
  }

  .rating {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 17px;
    width: 330px;
    height: 100%;
    @include diamondFull('5F6986');
    background-position: left center;
    padding-left: 32px;
    font-weight: 300;
    background-size: 20px;
  }

  .like {
    //background-color: rgba(196, 196, 196, 0.1);
    //@include icon(#3C414F, 28px, center, center);
    //margin: 0 30px 0 22px;
    //&.active {
    //  > span {
    //    color: #FF3F3F;
    //  }
    //}
  }


  .download_track {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: rgba(#9E9E9E, .2);
    @include icon(#fff, 24px, center, center);
  }

  .dropdown {
    padding-right: 5px;
  }

  .more {
    @include icon(#8A8A8A, 36px, center, center);
    padding-right: 5px;
  }

  &:hover {
    background-color: rgba(#5F6986, .2);
    .name, .artist, .released, .rating, .download {
      //color: #20C4F5;

      span {
        //color: #20C4F5;
      }

      > a {
        //color: #20C4F5;
      }
    }

    .cover_img {
      > img {
        display: none;
      }

      .play_album {
        display: flex;
      }
    }
  }
}
.item_list {
  .info_album {
    .head_album {
      .titles {
        .album_artist {
          color: #dcdcdc !important;
          font-size: 18px;
          font-weight: 400 !important;
          > a {
            color: #20C4F5;
            &.is_this_you {
              font-size: 12px !important;
            }
          }
        }
      }
    }
  }
}

// gray out listened album in discovery mode
.albums_list.discovery_mode .album.is_listened:not(.active) {
  background: rgba(#5F6986, 0.2);
}
